# Environment
.env

# Python
__pycache__/
__pycache__
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
frontend/build/
frontend/.env.local

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/