* { border: red solid 1px; }

:root {
  /* === BASE COLORS === */
  --bg: #000000;
  --bg-card: #16171D;
  --bg-hover: #313441;

  /* === TEXT === */
  --text: #79BEDF;
  --text-h: #79BEDF;

  /* === STRUCTURE === */
  --border: #2A2D36;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  /* === BRAND COLORS === */
  --primary-light: #2b2e38;
  --primary: #16171D;
  --primary-dark: #111216;   

  /* === ACCENTS === */
  --accent: #FBCC29;         /* amber */
  --accent-soft: rgba(251, 204, 41, 0.15);

  /* === SUPPORT === */
  --success: #5B7553;        /* olive */

  /* === UI === */
  --code-bg: #1f2028;
  --social-bg: rgba(47, 48, 58, 0.5);

  
  --sans: 'Inter', system-ui, sans-serif;
  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  margin-top: 64px;
  padding: 0px;
  height: calc(100vh - 64px);
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}




